# Variables

In [ ]:
# You can define variables using: name = value

# Eg.

# a = 1
# b = "any string" <- string needs to be in inverted commas (single or double, but needs the match)

# Lists / Array

Multiple of the name type.

In [ ]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # list of integers

In [ ]:
list2 = ['string1', 'string2', 'string3'] # list of strings

In [ ]:
list2.append('string4') # add an item to the end of the list

In [ ]:
list2

['string1', 'string2', 'string3', 'string4']

In [ ]:
list1[2]

3

In [ ]:
list2[2]

'string3'

In [ ]:
list1[2 : 7] # get all the items in list2 from the 2nd element (1st index) # list[ inclusive : exclusive]

[2, 3, 4, 5, 6]

In [ ]:
len(list1) # length of list/array

10

In [ ]:
len(list2)

3

In [ ]:
type(list1[0]) # 0 refers to the index (position) not the actual value of the item

int

In [ ]:
list1[: :2]

[0, 2, 4, 6, 8]

In [ ]:
list1[2 : 7 : 2]

[2, 4, 6]

In [ ]:
sum(list1)

45

In [ ]:
max(list1)

9

In [ ]:
min(list1)

0

# Exercise 1

Store the numbers 11, 2, and 9 in a list. Add 11 and 9 together and store in a variable named 'total'. Divide the 'total' variable by 2 and return the type of the result. Finally, add this result to the list.

In [ ]:
list1= [2, 9, 11]
total=list1[1]+list1[2]
halftotal=total/2

print(type(halftotal))

list1.append(halftotal)

print(list1)

# Packages

Code developed by other people. We can use by typing "import (name)"

In [ ]:
import statistics

In [ ]:
statistics.mean(list1)

4.5

In [ ]:
statistics.median(list1)

4.5

In [ ]:
statistics.mode(list1)

0

In [ ]:
import math

In [ ]:
math.sqrt(25)

5.0

In [ ]:
math.log(10) # by default natural log

2.302585092994046

# Decision Statements: if-else

In [ ]:
# if (condition):

In [ ]:
a = 10
b = 5

if a > b:
    print("10 is greater than 5")
else:
    print("10 is not greater than 5")

10 is greater than 5

In [ ]:
if a > b:
    print("10 is greater than 5")
elif a == b: # you read it as "else if"
    print("10 is equal to 5")
else:
    print("10 is not greater than 5")

10 is greater than 5

In [ ]:
list3 = []

if list3:
    print("List is not empty")
else:
    print("List is empty")

List is empty

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

if 10 in list1:
    print("10 is in the list")
else:
    print("10 is not in the list")

# Exercise 2

Create two lists of integers of different sizes. Print out the entire first list if the square root of the biggest element in the first list is greater than the square root of the smallest element in the second list.

# Loops

## Two main loops:
- For loop
- While loop

## For loop

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
    if i == 3: # % is the modulus operator
        break # break out of the loop
    print(i)

0
1
2

In [ ]:
for i in range(10):
    if i == 3: # % is the modulus operator
        continue # skip this iteration
    print(i)

0
1
2
4
5
6
7
8
9

## While loops

In [ ]:
# while (condition):

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
nums.pop()

10

In [ ]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
while nums:
    print(nums.pop())

10
9
8
7
6
5
4
3
2
1

# Exercise 3

Suppose we have a list called listOfNums and contains 100, 32, 200, 212, and 300.

Use a for loop to create a new list which contains every element at the even index of listOfNums. Do the same but use list operations (using the colon). Check if both the lists are the same using an if-else statement and print out this decision.

In [ ]:
listOfNums= [100, 32, 200, 212, 300]
EvenList1 = []

for i in range(5):
  if i % 2==0:
    EvenList1.append(listOfNums[i])

print(EvenList1)

EvenNums= listOfNums[0: :2]

print(EvenNums)

if EvenList1==EvenNums:
  print("True")
else:
  print("False")

[100, 200, 300]
[100, 200, 300]
True

# Functions

These are just blocks of code. Very similar to math functions.

In [ ]:
def f(x):
  if x < 0:
    return 0
  else:
    return x + 2

In [ ]:
f(-3)

0

In [ ]:
def add(a, b):
  return a + b

In [ ]:
add(1, 3)

4

In [ ]:
def mean(list1):
  avg = sum(list1) / len(list1)
  return avg

In [ ]:
mean(list1)

4.5

# Pandas

In [ ]:
import pandas as pd

In [ ]:
# To import a dataset

pd.read_csv("/content/pokedata.csv")

,Pokedex,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense
0,1,Bulbasaur,Grass,Poison,24,25.2,45,45,49,49
1,2,Ivysaur,Grass,Poison,39,28.7,60,60,62,63
2,3,Venusaur,Grass,Poison,79,220.5,80,80,82,83
3,4,Charmander,Fire,NaN,24,18.7,39,65,52,43
4,5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58
...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,NaN,71,7.3,41,50,64,45
147,148,Dragonair,Dragon,NaN,157,36.4,61,70,84,65
148,149,Dragonite,Dragon,Flying,87,463.0,91,80,134,95
149,150,Mewtwo,Psychic,NaN,79,269.0,106,130,110,90
150,151,Mew,Psychic,NaN,16,8.8,100,100,100,100